.btn {
  background-color: blue;
  width: fit-content;
  height: fit-content;
  color: white;
  padding: 10px 20px;
  margin: 10px 20px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  
}
