.header {
    background-color: #dadada;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid #333;
    border-radius: 10px;
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.header button:hover {
    background-color: #555;
}

