* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.parent {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: #f0f0f0;
  gap: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 300px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  color: #555;
  margin: 20px 0;
}

.card button {
  padding: 10px 20px;
  border: none;

  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.card img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.card button:hover {
  background-color: #218838;
}
