* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

html,
body {
  height: 100%;
  width: 100%;
}

.parent {
  min-height: 100vh;
  width: 100vw;
  background-color: #333;
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  height: 330px;
  width: 280px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.top img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  padding: 2px;
  border: 1px solid #dadada;
}

.top img:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.top button {
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 6px;
  font-size: 10px;
  border-radius: 5px;
  gap: 3px;
  background-color: #b1b1b1;
}

.top button:hover {
  background-color: #999;
  color: #fff;
  border: none;
  cursor: pointer;
}

.center h3 {
  font-size: 17px;
  font-weight: 500;
}

.center h3 span {
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b;
}

.center h2 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}

.center .tag {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.center .tag h4 {
  font-size: 12px;
  font-weight: 500;
  background-color: #e1e1e1;
  color: #111;
  padding: 5px 8px;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #b1b1b1;
  padding-top: 10px;
}

.bottom h3 {
  font-size: 14px;
  font-weight: 500;
}

.bottom p {
  font-size: 10px;
  color: #8b8b8b;
}

.bottom button {
  border: none;
  background-color: #111;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 10px;
  font-weight: 100;
  cursor: pointer;
}

.bottom button:hover {
  background-color: #333;
  color: #fff;
}
