* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  padding: 20px;
}
.card {
  background-color: pink;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;

  margin: auto;
}

h1 {
  color: #cc00c9;
  text-align: center;
  margin-bottom: 10px;
}
p {
  line-height: 1.6;
}

.navbar {
  background-color: bisque;
  padding: 10px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  color: #4c4f43;
}
